.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.766602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.980957;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.440000px;}
._0{width:1.080000px;}
._2{width:2.216000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:72.000000px;}
.y1{bottom:0.000000px;}
.y13{bottom:72.984000px;}
.yb{bottom:73.000000px;}
.ya{bottom:74.424000px;}
.y9{bottom:99.864000px;}
.y8{bottom:125.300000px;}
.y7{bottom:147.890000px;}
.y0{bottom:148.000000px;}
.y12{bottom:255.190000px;}
.y11{bottom:270.790000px;}
.y10{bottom:296.230000px;}
.yf{bottom:318.820000px;}
.y6{bottom:329.380000px;}
.y5{bottom:354.820000px;}
.y4{bottom:377.380000px;}
.ye{bottom:441.720000px;}
.yd{bottom:464.280000px;}
.y3{bottom:724.300000px;}
.y2{bottom:754.060000px;}
.yc{bottom:760.540000px;}
.h4{height:35.535000px;}
.h3{height:38.625000px;}
.h2{height:57.867188px;}
.h1{height:604.000000px;}
.h5{height:673.000000px;}
.h0{height:841.920000px;}
.w3{width:425.500000px;}
.w1{width:426.000000px;}
.w2{width:595.199991px;}
.w0{width:595.200000px;}
.x1{left:0.000009px;}
.x0{left:84.500000px;}
.x4{left:320.519991px;}
.x3{left:435.529991px;}
.x2{left:510.429991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.920000pt;}
._0{width:1.440000pt;}
._2{width:2.954667pt;}
.fs2{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:96.000000pt;}
.y1{bottom:0.000000pt;}
.y13{bottom:97.312000pt;}
.yb{bottom:97.333333pt;}
.ya{bottom:99.232000pt;}
.y9{bottom:133.152000pt;}
.y8{bottom:167.066667pt;}
.y7{bottom:197.186667pt;}
.y0{bottom:197.333333pt;}
.y12{bottom:340.253333pt;}
.y11{bottom:361.053333pt;}
.y10{bottom:394.973333pt;}
.yf{bottom:425.093333pt;}
.y6{bottom:439.173333pt;}
.y5{bottom:473.093333pt;}
.y4{bottom:503.173333pt;}
.ye{bottom:588.960000pt;}
.yd{bottom:619.040000pt;}
.y3{bottom:965.733333pt;}
.y2{bottom:1005.413333pt;}
.yc{bottom:1014.053333pt;}
.h4{height:47.380000pt;}
.h3{height:51.500000pt;}
.h2{height:77.156250pt;}
.h1{height:805.333333pt;}
.h5{height:897.333333pt;}
.h0{height:1122.560000pt;}
.w3{width:567.333333pt;}
.w1{width:568.000000pt;}
.w2{width:793.599988pt;}
.w0{width:793.600000pt;}
.x1{left:0.000012pt;}
.x0{left:112.666667pt;}
.x4{left:427.359988pt;}
.x3{left:580.706655pt;}
.x2{left:680.573322pt;}
}
